<section class="py-5">
    <h1 class="display-3">
        Thank You for shopping !!
    </h1>
    <p class="lead">Your product will be delivered to you within 2 business days. Have a good day ahead !</p>
    <a href="/" class="btn btn-primary btn-md">Go Back Home</a>
</section>